<div class="map">
  <LeafletMap
    @lat={{@lat}}
    @lng={{@lng}}
    @zoom={{@zoom}}
  >
    <TileLayer @url="https://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}.png"/>
    
  </LeafletMap>
</div>